{% extends "layout.html" %}

{% block content%}
{%from "_macros.html" import render_field%}

<div class="container">
    <form name="sent" action="/addAlumno" id="form1" method="POST">
        <div class="row control-group">
            <div class="form-group col-xs-12 controls">
                {{render_field(form.nombres,class='form-control')}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 controls">
                {{render_field(form.apellidos,class='form-control')}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 controls">
                {{render_field(form.email,class='form-control')}}
            </div>
        </div>

        <button type="submit" id="reg-alumno" name="registra" value="Registrar" class="btn btn-success"> 
            Registrar
        </button>
        <a href="getAlumnos" class="btn btn-secondary">
            <i class="icon-arrow icon-white"></i>Regresar
        </a>
    </form>
</div>

{% endblock %}